<h1>No Secret is Safe...</h1>

<% @secrets.each do |s| %>
	<p><%= s.content %></p>
	<p><%= s.likes.count %> likes</p>
		<% if s.likes.count > 0 %>
		<!-- if session[:user_id] == s.user_id -->
			<form action="/likes/<%= Secret.find(s.id).likes.find_by(user: session[:user_id]).id %>" method="post">
				<%=token_tag nil %>
				<input type="hidden" name="_method" value="delete">
				<input type="hidden" value="">
				<button type="submit" name ="Unlike" value="Unlike">Unlike</button>
			</form>
		<% else %>
			<form action="/likes" method="post">
				<%=token_tag nil %>
				<input type="hidden" name="secret_id" value="<%= s.id %>">
				<button type="submit" name ="Like" value="Like">Like</button>
			</form>
		<% end %>		
		<form action="/secrets/<%= s.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<%=token_tag nil %>
			<button type="submit" name ="Delete">Delete</button>
		</form>
	<br>
<% end %>

 